html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-color: #dbd6d0;
  margin: 0;
  margin-top: auto;
  margin-bottom: .3em;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
  border-left: none;
  border-right: none;
}

h1 {
  font-family: Bevan, serif;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin: 0;
}

.nav {
  color: #fff;
  text-decoration: none;
  margin: .3em;
  list-style-type: none;
  text-align: center;
}

.nav li {
  background-color: #713837;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: .3em;
  max-width: 20em;
  padding: .75em;
  border-radius: 3px;
}

a {
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.nav a:hover {
  background-color: #f33;
  text-decoration: none;
  color: #fff;
  max-width: 20em;
  padding: .75em;
}
